.navBar__Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.modal__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal__content {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.modal__content h2 {
  margin-bottom: 18px;
  color: #333;
}

.modal__content input[type="text"],
.modal__content input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-left: -10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal__content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal__content button:hover {
  background-color: #0056b3;
}

.register__Container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5vh;
}

.register__Container h2 {
  margin-bottom: 10px;
  color: #333;
}

.register__Container input[type="text"],
.register__Container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register__Container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3vh;
}

.register__Container button:hover {
  background-color: #0056b3;
}

#item__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

/* Style for the container */
#item__Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

/* Style for the rendered items */
.renderDiv {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px; /* Adjust the width as needed */
  height: 250px; /* Adjust the height as needed */
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.renderDiv h1 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.cart__Icon {
  margin-right: -12vw;
  max-width: 27.5px;
  max-height: 27.5px;
}

.item__Image {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}
